body {
  font-family: arial, sans-serif;
  margin: 0;
  background: #fff;
}

#wrapper {
  width: 100%;
  margin: 0 auto;
}

/* NAV STYLES */
#main-navigation {
  background: #201E16;
  padding: 10px;
}

#main-navigation ul {
  text-align: right;
  list-style-type: none;
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
}

#main-navigation li {
  margin-left: 20px;
}

#main-navigation a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  padding: 6px;
}

#main-navigation a.current {
  background: #AD946D;
  border-radius: 4px;
}

#main-navigation a:hover {
  background: #AD946D;
  border-radius: 4px;
}

/* BANNER STYLES */
#main-banner {
  max-height: 500px;
  overflow: hidden;
}

#main-banner img {
  position: relative;
  width: 100%;
  top: -100px;
}

/* MAIN / SHOP CONTENT */
#shop {
  margin: 50px auto;
  text-align: center;
  display: flex;
  flex: 1 0 100%;
  flex-flow: row wrap;
  justify-content: center;
}

#shop img.product-image {
  width: 80%;
  margin: 20px 0;
}

#shop h2.product-name {
  font-size: 16px;
  margin-bottom: 0;
}

#shop span.price {
  display: block;
  font-size: 46px;
}

#shop a.add-to-bag {
  display: block;
  color: #AD946D;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  padding: 10px 0;
  border: 2px solid #AD946D;
  width: 210px;
  margin: 20px auto;
}

#shop a.add-to-bag:hover {
  color: #fff;
  background: #AD946D;
}

footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background: #201E16;
  color: #fff;
}

footer p {
  font-size: 12px;
  padding: 10px 20px;
}

#footer-banner {
  max-height: 400px;
  overflow: hidden;
}

#footer-banner img {
  width: 100%;
  position: relative;
  bottom: -10px;
}


